.cards:hover {
  color: white;
  box-shadow: 0 0 10px black;
  text-shadow: 0 0 2px white;
}

@media (max-width: 1280px) {
  .overflow {
    overflow-x: scroll;
  }
}

@media (min-width: 1280px) {
  .overflow {
    justify-content: center;
  }
}
